<!DOCTYPE html>
<html ng-app="SearchApp">

<head>
  <meta charset="utf-8">
  <title>Find your representative</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/bower_components/angular/style.css">
  <style>
    body {
      padding-top: 70px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Search your Reps</a>
      </div>
    </div>
  </nav>

  <section class="community-stats">
      <div class="angle-background">

  </div>

  <div ng-controller="MainCtrl as mainVar" class="container-fluid">

    <form ng-submit="mainVar.searchByZip(mainVar.inputs.zip)" class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label" for="zipcode"><h4>Zip Code:</h4></label>
        <div class="col-sm-2">
        <input class="form-control" id="zipcode" class="form-control" type="string" ng-model="mainVar.inputs.zip" />
        </div>


      <button type="submit" class="btn btn-default btn-lg" class="col-md-4">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
  </button>
  </div>
    </form>

    <form ng-submit="mainVar.searchRepsByName(mainVar.inputs.repsLastName)" class="form-horizontal">

      <div class="form-group">
        <label  class="col-sm-2 control-label"  for="rep-last-name"><h4>Rep Last Name:</h4></label>
        <div class="col-sm-2">
        <input class="form-control" id="rep-last-name" class="form-control" type="string" ng-model="mainVar.inputs.repsLastName" />
        </div>


      <button type="submit" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
  </button>
  </div>
    </form>


    <form ng-submit="mainVar.searchSensByName(mainVar.inputs.sensLastName)" class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label" for="rep-last-name"><h4>Sen Last Name:</h4></label>
        <div class="col-sm-2">
        <input id="rep-last-name" class="form-control" type="string" ng-model="mainVar.inputs.sensLastName" />
      </div>

      <button type="submit" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
  </button>
</div>
    </form>

    <form ng-submit="mainVar.searchRepsByState(mainVar.inputs.state)" class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label" ><h4>Reps-State: </h4></label>
        <div class="col-sm-2">
        <input id="state" class="form-control" type="string" ng-model="mainVar.inputs.state" />
      </div>
      <button type="submit" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
  </button>
</div>
    </form>


    <form ng-submit="mainVar.searchSensByState(mainVar.inputs.state2)" class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label"><h4>Sens-State: </h4></label>
        <div class="col-sm-2">
        <input id="state2" class="form-control" type="string" ng-model="mainVar.inputs.state2" />
      </div>

      <button type="submit" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
  </button>
</div>
    </form>



    <ul class="list-group">
      <li class="list-group-item" ng-repeat="bsp in mainVar.variable">
        <h3 class="list-group-item-heading">{{bsp.name}}</h3>
        <p>State: {{bsp.state}}</p>
      </li>
    </ul>


  </div>
<div ng-controller="MainCtrl as mainVar" class="container-fluid">
<div class="radio">
  <label>
    <input type="radio" ng-change="mainVar.input =''" ng-model="mainVar.congressType" value="Reps">
    Representatives
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" ng-change="mainVar.input =''" ng-model="mainVar.congressType" value="Sens">
    Senators
  </label>
</div>


<!--made with input and select -->
<form class="form-inline">
  <select class="form-control" ng-model="mainVar.criteria" ng-options="item as item.label for item in mainVar.apis" ng-change="mainVar.input =''" >
  </select>
  <input class="form-control" type="text" ng-model="mainVar.input" ng-disabled="mainVar.loading" autofocus>
  <button ng-click="mainVar.criteria.method(mainVar.input)" type="submit" class="btn btn-info" ng-disabled="mainVar.loading || !mainVar.input">Submit</button>
</form>
<ul class="list-group">
     <li class="list-group-item" ng-show="mainVar.loading">
       Loading...
     </li>
     <li class="list-group-item" ng-show="mainVar.variable.length === 0 && !mainVar.loading">
       No Results
     </li>
     <li ng-hide="mainVar.loading" class="list-group-item" ng-repeat="bsp in mainVar.variable">
       <h3 class="list-group-item-heading">{{bsp.name}}</h3>
       <p>State: {{bsp.state}}</p>
     </li>
   </ul>

</div>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/js/app.js"></script>
</body>

</html>
