<!DOCTYPE html>
<html ng-app="RepsApp">
  <head>
    <meta charset="utf-8">
    <title>Find your representative</title>
    <script  src="bower_components/angular/angular.min.js" ></script>
    <script  src="js/app.js" ></script>
    <script  src="js/reps-controller.js" ></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <!-- TODO You need to put your style imports here -->
  </head>
  <body>

    <div ng-controller="RepsController as reps">
  <label>
    Search By Zip
    <input ng-model="reps.search.zip" />
    <button type="button" ng-click="reps.searchByZip(reps.search.zip)">Search</button>
  </label>

  <ul>
    <li ng-repeat="member in reps.members">
      {{member.name}}
    </li>
  </ul>
</div>



<div ng-controller="RepsController as reps">
<label>
Search By Name
<input ng-model="reps.search.name" />
<button type="button" ng-click="reps.searchByName(reps.search.name)">Search</button>
</label>

<ul>
<li ng-repeat="member in reps.members">
  {{member.name}}
</li>
</ul>
</div>



<div ng-controller="RepsController as reps">
<label>
Search By State
<input ng-model="reps.search.state" />
<button type="button" ng-click="reps.searchByState(reps.search.state)">Search</button>
</label>

<ul>
<li ng-repeat="member in reps.members">
  {{member.name}}
</li>
</ul>
</div>




    <!-- TODO You need to put your script tags here -->

  </body>
</html>
